@lightGreen: rgb(78,183,168);
@red: rgb(231,87,53);
@mainColor: rgb(255,255,255);

@lightGrey: rgb(229,229,229);
@mediumGrey: rgb(136,136,136);
@darkGrey: rgb(79,79,79);


.fontSize1 {
    font-size: 10px;
}
.fontSize2 {
    font-size: 11px;
}
.fontSize3 {
    font-size: 12px;
}
.fontSize4 {
    font-size: 14px;
}
.fontSize5 {
    font-size: 16px;
}
.fontSize6 {
    font-size: 18px;
}
.fontSize10 {
    font-size: 40px;
}