@media (max-width: 900px) {
    .standardButtons {
        margin: 0;
        &__elem {
            width: 50%;
            &:first-child {
                order: -2;
            }
            &:last-child {
                order: -1;
            }
        }
    }
    .arrowButtons {
        &__container {
            width: 100%;
            justify-content: center;
            margin-top: 20px;
        }
        &__button:first-child {
            margin-right: 25px;
        }
    }   
}