@import "./common.less";

@media (max-width: 900px) {
    .standardButtons {
        margin: 0;
        &__elem {
            width: 50%;
            text-align: center;
            &:first-child {
                order: -2;
            }
            &:last-child {
                order: -1;
            }
        }
        &__button {
            display: inline-block;
        }
    }
    .arrowButtons {
        &__container {
            width: 100%;
            justify-content: center;
            margin-top: 20px;
        }
        &__button:first-child {
            margin-right: 25px;
        }
    }   
    .circleDiagrams{
        margin: 0 7%;
        &__diagram {
            width: 50%;
            margin-bottom: 25px;
            &-pie {
                width: 100%;
                height: @circle-size;
            }
        }
    }
    .sliders {
        &__slider {
            margin: 0 auto;
        }
        &__sliderBox {
        width: 100%;
        margin-bottom: 30px;
        }
    }

    .content__halfSection {
        width: 100%;
    }
    .userProfile {
        margin-left: 0;
    }
    .news {
        margin-right: 0;
    }
    .event {
        margin-left: 0;
    }
    .calendar {
        margin-right: 0px;
    }
}


@media (max-width: 500px) {
    .location {
        &__slogan {
            margin-right: 0;
            order: 9999;
            width: 100%;
            text-align: center;
        }
    }
}