mixin createElement(elementText, elementName, ...modifiers) 
    -var classes = elementName
    each mod in modifiers
        - classes += (" " + elementName + "-" + mod)
    div(class= classes) #{elementText}