mixin createElement(elementText, elementName, ...modifiers) 
    -var classes = elementName
    each mod in modifiers
        - classes += (" " + elementName + "-" + mod)
    div(class= classes) #{elementText}

mixin createCircleProgress(percent)
    - var str = "transform: rotate(" + percent*1.8 + "deg)"
    .radialProgress(data-percent= percent)
        .radialProgress__mask.radialProgress__mask-full(style= str)
            .radialProgress__fill(style= str)
        .radialProgress__mask
            .radialProgress__fill(style= str)
        .radialProgress__inset

mixin createPieChart(partsNumber, ...details)
    - var progress = 0
    .pieChart
        - for(var i = 0; i < partsNumber; i++)
            - var iterations = 1
            - var current = details[i]*3.6    
            - if (current > 180)
                - iterations = 2
                - current/=2

            - var beforeStyle = "transform: rotate(" + (current +1) + "deg)"
            - var classes = "pieChart__part-before " + details[i+partsNumber]

            - for(var j = 0; j < iterations; j++)
                - var style = "transform: rotate(" + progress +"deg)"
                div.pieChart__part(style= style)
                    div(class= classes, style= beforeStyle)
                - progress += current


mixin createWarningSlider(percent)
    - var style = "left: " + percent + "%";
    .sliders__slider
        .sliders__drag.sliders__drag-warning(style= style)
            .sliders__warningValue(data-percent= percent)

mixin createSuccessSlider(percent)
    - var style = "left: " + percent + "%";
    - var styleWidth = "width: " + percent + "%"
    .sliders__slider.sliders__slider-success
        .sliders__drag.sliders__drag-success(style= style)
        .sliders__fillSuccess(style= styleWidth)
        .sliders__axis
            .sliders__axisValue 0
            .sliders__axisValue 25
            .sliders__axisValue 50
            .sliders__axisValue 75
            .sliders__axisValue 100



mixin createStageChart(progress, maximum = 5, elemClass = "warning")
    - var notAchieved = "notAchieved";
    .stageChart
        - for(var i = 0; i < maximum; i++)

            if((i > 0) && (i < progress))
                +createElement("","stageChart__vertex",elemClass)

            if(i < progress)
                +createElement(i+1,"stageChart__value",elemClass)
            else
                +createElement("","stageChart__vertex",notAchieved)
                +createElement(i+1,"stageChart__value",notAchieved)

