include ../projectShare/mixins.pug

.content__title Standard Buttons
.standardButtons
    .standardButtons__container
        .standardButtons__elem
            input.standardButtons__clickBox#btn1(type="checkbox" checked)
            label(for="btn1")
                +createElement("Button","standardButtons__button", "grad1","small","success")
        .standardButtons__elem
            input.standardButtons__clickBox#btn2(type="checkbox" checked)
            label(for="btn2")
                +createElement("Button","standardButtons__button", "grad2","big", "success")
        .standardButtons__elem
            input.standardButtons__clickBox#btn3(type="checkbox" checked)
            label(for="btn3")
                +createElement("Button","standardButtons__button", "grad3", "big", "warning")
        .standardButtons__elem
            input.standardButtons__clickBox#btn4(type="checkbox" checked)
            label(for="btn4")
                +createElement("Button","standardButtons__button", "grad4", "small", "warning")

    .standardButtons__container    
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "shadow","success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "shadow", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "shadow", "warning")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "shadow", "warning")

    .standardButtons__container
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "empty", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "empty", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "empty", "warning")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "empty", "warning")