mixin createElement(elementText, elementName, ...modifiers) 
    -var classes = elementName
    each mod in modifiers
        - classes += (" " + elementName + "-" + mod)
    div(class= classes) #{elementText}

.content__title Standard Buttons
.standardButtons
    .standardButtons__container
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "gradient1","success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "gradient2", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "gradient3", "warning")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "gradient4", "warning")

    .standardButtons__container    
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "shadow","success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "shadow", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "shadow", "warning")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "shadow", "warning")

    .standardButtons__container
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "empty", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "empty", "success")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "big", "empty", "warning")
        .standardButtons__elem
            +createElement("Button","standardButtons__button", "small", "empty", "warning")