.content
    .content__box
        .content__section
            include ../standardBtns/block

        .content__section
            include ../arrowBtns/block

        .content__section
            include ../percentages/block

        .content__section
            include ../sliders/block

        .content__section
            include ../stages/block

        .content__title.content__title-selfMargin.content__title-smallerSpacing Form elements
        .content__twoSections
            .content__halfSection
                include ../formElements/block
            .content__halfSection.content__halfSection-right
                include ../switches/block

        .content__twoSections
            .content__halfSection
                include ../searchTools/block
            .content__halfSection.content__halfSection-right
                include ../userProfile/block

        .content__title.content__title-selfMarginSmaller News & Events
        .content__twoSections
            .content__halfSection
                include ../news/block
            .content__halfSection.content__halfSection-right
                include ../events/block
        
        .content__section
            include ../location/block

        .content__twoSections
            .content__halfSection
                include ../calendar/block
            .content__halfSection.content__halfSection-right
                include ../messaging/block

        .content__section
            include ../video/block