.content
    .content__box
        .content__section
            include ../standardBtns/block

        .content__section
            include ../arrowBtns/block

        .content__section
            include ../percentages/block

        .content__section
            include ../sliders/block

        .content__section
            include ../stages/block

        .content__twoSections
            .content__leftSection
                include ../formElements/block
            .content__rightSection
                include ../switches/block

        .content__twoSections
            .content__leftSection
                include ../searchTools/block
            .content__rightSection
                include ../userProfile/block

        .content__twoSections
            .content__leftSection
                include ../news/block
            .content__rightSection
                include ../events/block
        
        .content__section
            include ../location/block

        .content__twoSections
            .content__leftSection
                include ../calendar/block
            .content__rightSection
                include ../messaging/block

        .content__section
            include ../video/block
    