.content
    .content__standardBtns
        include ../standardBtns/block

    .content__arrowBtns
        include ../arrowdBtns/block

    .content__percentages
        include ../percentages/block

    .content__sliders
        include ..sliders/block

    .content__stages
        include ../stages/block

    .content__twoSections
        .content__leftSection
            include ../formElements/block
        .content__rightSection
            include ../switches/block

    .content__twoSections
        .content__leftSection
            include ../searchTools/block
        .content__rightSection
            include ../userProfile/block

    .content__twoSections
        .content__leftSection
            include ../news/block
        .content__rightSection
            include ../event/block
    
    .content__location
        include ../location/block

    .content__twoSections
        .content__leftSection
            include ../calendar/block
        .content__rightSection
            include ../messaging/block

    .content__video
        include ../video/block
    