@import "../projectShare/common.less";

* {
    padding: 0;
    margin: 0;
}
.content {
    font-family: "LatoLight", Arial, sans-serif;
    text-transform: uppercase;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 82px;
    margin-bottom: 108px;
    &__box {
        padding-left: 7.57%;
        padding-right: 7.57%;
    }
    &__title {
        text-align: center;
        .fontSize6();
        color: @darkGrey;
        font-family: "LatoBlack", Arial, sans-serif;
        letter-spacing: 1.2px;
        word-spacing: 3px;
        &-smaller {
            letter-spacing: 0.9px;
            word-spacing: 0px;
        }
        &-selfMargin {
            margin-bottom: 50px;
            &Smaller{
                margin-bottom: 33px;
            }
            &Top {
                margin-top: 52px;
            }
        }
        &-notCentered {
            transform: translate(10px,-5px);
        }
        &-for2Sections {
          margin-top: 53px;
        }
        &-left {
            transform: translateX(-9px);
        }
        &-right {
            transform: translateX(7px);
        }
        &-lessSpacing {
            letter-spacing: 0.9px;
        }
    }
    &__twoSections {
        display: flex;
        flex-flow: row wrap;
    }
    &__halfSection {
        width: 50%;
    }
}


@font-face {
	font-family: 'LatoLight';
	src: url('fonts/LatoLight.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBlack';
	src: url('fonts/LatoBlack.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBold';
	src: url('fonts/LatoBold.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'LatoRegular';
	src: url('fonts/LatoRegular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceRegular';
	src: url('fonts/SourceRegular.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SourceLight';
	src: url('fonts/SourceLight.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

