include ../projectShare/mixins.pug

.content__title.content__title-lessSpacing Messaging
+createMessaging("Sarah Brown", "out/userProfile/img/WomanDemo.png", "Hey! So are we cool to meet at the art gallery? Say 8pm",
"Yeah that sounds great. See you then.")