@import "../projectShare/common.less";
.form {
    &__row {
       display: flex;
       input {
            text-transform: capitalize;
            background-color: @lightGrey;
            border-radius: 3px;
       }
    }
}