@import "../projectShare/common.less";


.form {
    margin-top: -1px;
    &__row {
       display: flex;
       margin-left: 1px;
       margin-right: @rowMarginRight;
       margin-bottom: @rowMarginBottom;
       justify-content: space-between;
       &-submission {
           justify-content: flex-end;
       }
    }
    &__input {
        padding-bottom: 2px;
        text-transform: capitalize;
        background-color: @lightGrey;
        border-radius: @roundBorder;
        border: none;
        flex-grow: 1;
        padding-left: 13px;
        font-family: "SourceRegular", Arial, sans-serif;
        color: @mediumGrey;
        .fontSize4();
        &::placeholder {
            color: @mediumGrey;
        }
    }
    &__message {
        resize: none;
        padding-top: 9px;
        padding-bottom: 7px;
    }
    &__button {
        border-radius: 1.5*@roundBorder;
        cursor: help;
        @buttonHeight: 28px;
        margin-left: 7px;
        width: 72px;
        height: @buttonHeight;
        line-height: @buttonHeight;
        &-triangle {
            position: relative;
            &:after {
                @borderSize: 5px;
                border: @borderSize transparent solid;
                border-left: none;
                content: "";
                position: absolute;
                top: (@buttonHeight - 2*@borderSize)/2;
                left: -3.5px;
            }
        }
        &-success {
            padding-left: 3px;
        }
        &-warning {
            letter-spacing: 0.7px;
            padding-left: 2px;
        }
        &-triangle {
            margin-right: 1px;
        }
        &-triangle&-success {
            &:after {
                border-right-color: @lightGreen;
            }
        }
        &-triangle&-warning {
            &:after {
                border-right-color: @red;
            }
        }
        &-submit {
            border-radius: @roundBorder;
            width: 118px;
            height: 32px;
            line-height: 32px;
            transform: translateY(-2px);
            cursor: pointer;
            letter-spacing: 0.6px;
            padding-right: 3px;
        }
    }
}