.content__title.content__title-for2Sections.content__title-smaller.content__title-left Search / Drop down
.search
    .form__row.search__row
        input.form__input.search__input(placeholder= "Search")
        .search__lensIcon

    .form__row.search__row.search__row-help
        input.form__input.search__help.search__input(placeholder= "I’ve not found what I’m looking for ...")
        .search__lensIcon

    .form__row.search__row
        select.form__input.search__select.search__input
            option Choose an option
            option Option 1
            option Option 2
        .search__selectIcon
    .form__input.search__input.search__background

