@import "../stages/style.less";
@import "../projectShare/common.less";

.search {
    @iconWidth: 33px;
    @thickness: 2px;
    @iconHeight: 28px;
    margin-top: 19px;


    .createIcon() {
        position: absolute;
        width: @iconWidth;
        height: 100%;
        right: 0;
        border-radius: 0 @roundBorder @roundBorder 0;
    }
    &__row {
        position: relative;
        &-help {
            margin-top: 16px;
            margin-bottom: 18px;
        }
    }
    &__input {
        height: @iconHeight;
        padding-bottom: 1.5px;
        box-sizing: border-box;
    }
    &__lensIcon {
        .createIcon();
        cursor: pointer;
        background-color: @red;
        &:before, &:after {
            content: "";
            position: absolute;
        }
        &:before {
            box-sizing: border-box;
            width: 0.31*@iconWidth;
            height: 0.31*@iconWidth;
            border-radius: 50%;
            border: @thickness solid @mainColor;
            top: 28%;
            left: 40%;
            left: @iconWidth/3;
        }
        &::after {
            height: (@thickness + 0.5px);
            width: 6.5px;
            background-color: @mainColor;
            transform-origin: 0 0;
            transform: rotate(45deg);
            bottom: 36%;
            right: 18.5%;
        }
    }
    &__select {
        letter-spacing: -0.15px;
        appearance: none;
        background: transparent;
        cursor: pointer;
    }

    &__background {
        margin-left: 1px;
        margin-right: @rowMarginRight + @iconWidth;
        margin-top: -(@rowMarginBottom + @iconHeight);
        border-radius: @roundBorder 0 0 @roundBorder;
    }

    &__selectIcon {
        .createIcon();
        background-color: @lightGreen;
        z-index: -1;
        @lineWidth: 10px;
        &:before, &:after {
            content: "";
            position: absolute;
            height: @thickness;
            background-color: @mainColor;
            width: @lineWidth;
        }
        &:before {
            transform-origin: 100% 0;
            transform: translateX((@iconWidth - 2*@lineWidth)/2 + 1px) translateY(0.65*@iconHeight) rotate(45deg);
        }
        &:after {
            transform-origin: 0 100%;
            transform: translateX((@iconWidth - 2*@lineWidth)/2 + @lineWidth ) translateY(0.65*@iconHeight - 1px) rotate(-45deg);
        }
    }

    &__help {
        text-transform: none;
        .achievedWarning();
        padding-top: 1px;
        padding-bottom: 3px;
        &::placeholder {
            color: @mainColor;
        }
    }
}