@import "../projectShare/common.less";

.location {
    @markerWidth: 40px;
    @iconMarkerWidth: 16px;

    &__map {
        position: relative;
        &:after {
            width: @markerWidth*0.45;
            height: @markerWidth*0.45;
            background-color: @mainColor;
            content: "";
            position: absolute;
            border-radius: 50%;
            transform: translate(-50%);
            top: 50%;
            left: 50%;
        }
        &-icon:after {
            background-color: @red;
            width: @iconMarkerWidth*0.45;
            height: @iconMarkerWidth*0.45;
        }
    }
    &__img {
        border-radius: 1.5*@roundBorder 1.5*@roundBorder 0 0;
        max-height: 205px;
        width: 100%;
        object-fit: none;
        object-position: 50% 15%;
    }
    &__marker {
        position: absolute;
        width: @markerWidth;
        height: @markerWidth/2;
        background-color: @red;
        transform: translate(-50%, -60%);
        top: 50%;
        left: 50%;
        border-radius: @markerWidth/2 @markerWidth/2 0 0;
        &-icon {
            background-color: @mainColor;
            width: @iconMarkerWidth;
            height: @iconMarkerWidth/2;
            border-radius: @iconMarkerWidth/2 @iconMarkerWidth/2 0 0;
        }
    }


    &__shadow {
        @shadowWidth: @markerWidth*0.45;
        @shadowHeight: @markerWidth;
        width:  @shadowWidth;
        height: @shadowHeight;
        background: linear-gradient(rgba(40,40,40,0.25), rgba(160,160,160,0.35));
        position: absolute;
        left: 50%;
        top: 50%;

        border-radius: 50%;
        border-top-left-radius: @shadowWidth 0.65*@shadowHeight;
        border-top-right-radius:  @shadowWidth 0.65*@shadowHeight;

        transform-origin: 100% 0;
        transform: translate(100%, 62%) rotate(60deg); 
    }
    
    &__triangle,
    &__triangle:before,
    &__triangle:after {
        width: @markerWidth*0.675;
        height: @markerWidth*0.675;
        border-top-right-radius: 70%;
    }
    &__triangle-icon, &__triangle-icon:before, &__triangle-icon:after {
        width: @iconMarkerWidth*0.675;
        height: @iconMarkerWidth*0.675;
    }

    &__triangle {
        &Box {
            position: absolute;
            transform: translate(-50%, 40%) rotate(180deg);
            top: 50%;
            left: 50%;
        }   
        position: relative;
        background-color: @red;
        border-top-right-radius: 30%;
        transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
        &:before,&:after {
            content: '';
            position: absolute;
            background-color: inherit;
        }
        &:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }
        &:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
        &-icon {
            background-color: @mainColor;
        }
    }
    &__content {
        background-color: @red;
        color: @mainColor;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-top: -4px;
        border-radius: 0 0 1.5*@roundBorder 1.5*@roundBorder;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 28px;
        padding-right: 28px + @iconMarkerWidth/2;
    }
    &__slogan {
        text-transform: none;
        .fontSize8();
        margin-right: 28px;
    }
    &__address {
        font-family: "LatoBlack", Arial, sans-serif;
        .fontSize3Half();
    }
    &__building {
        margin-bottom: 3px;
    }


    &__space {
        flex-grow: 1;
        max-width: 33%;
    }
    
    &__icons {
        flex-grow: 1;
        flex-shrink: 0;
        max-width: 54px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    @aimWidth: 10px;
    @targetSize: 19px;
    @thickness: 2px;

    .targetLine (@aimHeight) {
        background-color: @mainColor;
        width: @aimWidth;
        height: @aimHeight;
        position: absolute;
        content: "";
    }

    &__targetIcon {
        width: @targetSize;
        height: @targetSize;
        border: @thickness solid @mainColor;
        box-sizing: border-box;
        border-radius: 50%;
        position: relative;
        &:before, &:after {
            @verticalHeight: 2.5px;
            .targetLine(@verticalHeight);
            transform: rotate(90deg);
            right: calc(50% - @aimWidth/2);
        }
        &:before {
            top: -@thickness;
        }
        &:after {
            bottom: -@thickness;
        }
    }
    &__horTargetLine {
        @horHeight: 2px;
        .targetLine(@horHeight);
        top: calc(50% - @horHeight/2);
        &-left {
            left: calc(-@aimWidth/2 - @thickness);
        }
        &-right {
            right: calc(-@aimWidth/2 - @thickness);
        }
    }
    &__markerIcon {
        margin-top: @thickness;
    }
}