include ../projectShare/mixins.pug

.content__title.content__title-smaller.content__title-intendedLefter Sliders
.sliders
    .sliders__sliderBox
        +createWarningSlider(40)
    .sliders__sliderBox
        +createSuccessSlider(75)