@import "../projectShare/common.less";
@sliderHeight: 5px;
@dragHeight: 19px;
@successMargin: 5px;

.sliders {
    font-family: "LatoBlack";
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 60px;
    &__slider {
        width: 260px;
        height: @sliderHeight;
        background-color: @lightGrey;
        border-radius: @sliderHeight;
        position: relative;
        &-success {
            margin-right: @successMargin;
        }
    }
    &__drag {
        position: absolute;
        width: @dragHeight;
        height: @dragHeight;
        border-radius: 50%;
        top: -(@dragHeight - @sliderHeight)/2;
        &-warning {
            transform: translateX(calc(-100% + 1px));
            background-color: @red;
        }
        &-success {
            transform: translateX(calc(-50% - 2.5px));
            background-color: @lightGreen;
        }
    }
    &__fillSuccess {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: @sliderHeight;
        background-color: @lightGreen;
    }
    &__warningValue {
        @warningValueWidth: 35px;
        @warningValueHeight: 24px;
        width: @warningValueWidth;
        height: @warningValueHeight;
        background-color: @red;
        position: absolute;
        left: -(@warningValueWidth - @dragHeight + 2px)/2;
        border-radius: 5px;
        top: -31px;
        &:before {
            position: absolute;
            top: 1px;
            left: 0;
            right: 0;
            line-height: @warningValueHeight;
            content: attr(data-percent);
            letter-spacing: 1px;
            color: @mainColor;
            .fontSize3Half();
            text-align: center;
        }
        &:after {
            position: absolute;
            content: "";
            top: 23.4px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border: 5px transparent solid;
            border-top-color: @red;
            border-bottom: none;
        }
    }
    &__axis {
        display: flex;
        width: 100%;;
        &Value {
            letter-spacing: 0.5px;
            margin-top: 14px;
            .fontSize2();
            color: @grey209;
            &:not(:first-child) {
                transform: translateX(-3px);
                margin-left: 20%;
            }
            &:nth-child(2) {
                transform: translateX(-1px);
            }
            &:nth-child(4) {
                transform: translateX(-5px);
            }
            &:last-child {
                transform: translateX(-12px);
            }
        }
    }
}