.content__title.content__title-selfMarginTop Video

.video
    .video__container
        <iframe class="video__content" src="https://player.vimeo.com/video/62980495?color=E75735&title=0&byline=0&portrait=0" 
        | frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    .video__info.video__info-name New Zealand Landscapes timelapse
    .video__info.video__info-author From Bevan Percival
    .video__info.video__info-url http://vimeo.com/62980495


