@import "../projectShare/common.less";

.calendar {
    &__header {
        background-color: @red;
        color: @mainColor;
        text-align: center;
    }
    &__week {
        display: flex;
        justify-content: space-around;
    }
    &__weekRow {
        display: flex;
        justify-content: space-between;
    }
}