include ../projectShare/mixins

.content__title.content__title-notCentered.content__title-smaller Toggles
.switch
    .switch__container
        +createRadioGroup(2,2,1)

.content__title.switch__tickBoxesTitle Tick boxes

.switch
    .switch__container.switch__container-notCentered 
        +createCheckGroup(2,1,true,1)
