+createNews("out/news/img/demo.png","It's all going downhill", "24 august 2013", `Lorem ipsum dolor, sit amet consectetur 
adipisicing elit. Labore quis nam ratione ab animi deleniti officia 
inventore fugit, aspernatur corrupti iste nostrum saepe ipsam vitae.
 Totam dolores deleniti temporibus ducimus?`)