include ../projectShare/mixins

+createNews("out/news/img/demo.png","It’s all going downhill", "24 august 2013", `Lorem ipsum dolor, sit amet consectetur 
adipisicing elit. Labore quis nam ratione ab animi Lorem ipsum dolor lorem lorem`)