include ../projectShare/mixins.pug

.content__title.content__title-smaller Percentages / Pie chart

.circleDiagrams
    .circleDiagrams__diagram-mod1.circleDiagrams__diagram
        +createCircleProgress(0)
    .circleDiagrams__diagram-mod2.circleDiagrams__diagram
        +createCircleProgress(38,5.7)
    .circleDiagrams__diagram-mod3.circleDiagrams__diagram
        +createCircleProgress(62, -6.2)
    .circleDiagrams__diagram-mod4.circleDiagrams__diagram
        +createCircleProgress(89,1.5)

    .circleDiagrams__diagram-pie.circleDiagrams__diagram
        +createPieChart(4,11,26,30,33,"grey", 
            "red", "lightGreen","lightGrey")