include ../projectShare/mixins.pug

.content__title Percentages / Pie chart

.circleDiagrams
    .circleDiagrams__diagram
        +createCircleProgress(0)
    .circleDiagrams__diagram
        +createCircleProgress(38)
    .circleDiagrams__diagram
        +createCircleProgress(62)
    .circleDiagrams__diagram
        +createCircleProgress(89)
    .circleDiagrams__diagram.circleDiagrams__diagram-pie
        +createPieChart(4,9,25,35,31,"rgb(116,116,116)", 
            "rgb(231,87,53)", "rgb(78,183,168)","rgb(229,229,229)")