.content__title.content__title-for2Sections.content__title-right  User Profile


.userProfile
    img.userProfile__photo.userProfile__photo-topped(src= "out/userProfile/img/ManDemo.png", alt="Demo man")
    .userProfile__info.userProfile__info-alternative
        .userProfile__fullName.userProfile__fullName-alternative John Smith
        .userProfile__title.userProfile__title-alternative Ux Designer
        .userProfile__social
            a.userProfile__ref(href="#")
                .userProfile__socialBtn.userProfile__socialBtn-fb.userProfile__socialBtn-alernative
            a.userProfile__ref(href="#")
                .userProfile__socialBtn.userProfile__socialBtn-tw.userProfile__socialBtn-alernative
            a.userProfile__ref(href="#")
                .userProfile__socialBtn.userProfile__socialBtn-dribbble.userProfile__socialBtn-alernative

.userProfile.userProfile-lastProfile
    img.userProfile__photo.userProfile__photo-notCentered.userProfile__photo-toppedAlt(src= "out/userProfile/img/WomanDemo.png",
    | alt="Demo woman")
    .userProfile__info
        .userProfile__fullName Sarah Brown
        .userProfile__title Developer
        .userProfile__social
            a.userProfile__ref(href="#")
                .userProfile__socialBtn.userProfile__socialBtn-fb
            a.userProfile__ref(href="#")
                .userProfile__socialBtn.userProfile__socialBtn-tw
            a.userProfile__ref(href="#")
                .userProfile__socialBtn.userProfile__socialBtn-dribbble
