.content__title User Profile


.userProfile
    img.userProfile__photo(src= "out/userProfile/img/ManDemo.png", alt="Demo man")
    .userProfile__info.userProfile__info-notActive
        .userProfile__fullName.userProfile__fullName-notActive John Smith
        .userProfile__title.userProfile__title-notActive Ux Designer
        .userProfile__social
            a.userProfile__socialBtn.userProfile__socialBtn-fb(href="#")
            a.userProfile__socialBtn.userProfile__socialBtn-tw.userProfile__socialBtn-notActive(href="#")
            a.userProfile__socialBtn.userProfile__socialBtn-linkedIn(href="#")

.userProfile
    img.userProfile__photo.userProfile__photo-notCentered(src= "out/userProfile/img/WomanDemo.png", alt="Demo woman")
    .userProfile__info
        .userProfile__fullName Sarah Brown
        .userProfile__title Developer
        .userProfile__social
            a.userProfile__socialBtn.userProfile__socialBtn-fb(href="#")
            a.userProfile__socialBtn.userProfile__socialBtn-tw(href="#")
            a.userProfile__socialBtn.userProfile__socialBtn-linkedIn(href="#")
