@import "../projectShare/common.less";

@socialMargin: 6px;

.userProfile {
    display: flex;
    margin-left: 28px;
    align-items: center;
    margin-top: 27px;
    &__photo {
        border-radius: 50%;
        width: 92px;
        height: 92px;
        box-sizing: border-box;
        border: 5px solid @lightGrey;
        object-fit: cover;
        &-notCentered {
            object-fit: none;
            object-position: 50% 40%;
        }
    }
    &__info {
        border-radius: 2*@roundBorder;
        flex-grow: 1;
        padding-top: 13px;
        padding-bottom: 16px;
        margin-left: 12px;
        color: @mainColor;
        text-align: center;
        background-color: @lightGreen;
        position: relative;
        &:after {
            @borderSize: 7px;
            content: "";
            position: absolute;
            border: @borderSize transparent solid;
            border-left: none;
            border-right-color: @lightGreen;
            left: -5px;
            bottom: 50%;
            transform: translateY(@borderSize);
        }
        &-alternative {
            background-color: @lightGrey;
           &:after {
            border-right-color: @lightGrey;
           }
        }
    }
    &__fullName {
        text-transform: capitalize;
        margin-bottom: 3px;
        .fontSize6();
        &-alternative {
            color: @red;
        }
    }
    &__title {
        font-family: "LatoBlack",Arial, sans-serif;
        .fontSize2();
        &-alternative {
            color: @darkGrey;
        }
    }
    &__social {
        margin-top: 12px;
        display: flex;
        justify-content: center;
        margin-left: -@socialMargin;
        margin-right: -@socialMargin;
    }
    &__socialBtn {
        height: 22px;
        width: 25px;
        margin-left: @socialMargin;
        margin-right: @socialMargin;
        @p: ~".userProfile__socialBtn-";
        &-fb {
            background: url(userProfile/img/iconSet.png) -119px -4px ;
            @{p}alernative& {
                background: url(userProfile/img/iconSet.png) -4px -4px;
            }
        }
        &-tw {
            background: url(userProfile/img/iconSet.png) -162px -3px ;
            @{p}alernative& {
                background: url(userProfile/img/iconSet.png) -40px -4px;
            }
        }
        &-dribbble {
            background: url(userProfile/img/iconSet.png) -208px -3px ;
            @{p}alernative& {
                background: url(userProfile/img/iconSet.png) -81px -5px ;
            }
        }
    }
}